@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

body{
	font-family: 'Avenir';
}

.header_link >li>a{
	color: #24518f;
    text-decoration: none;
    text-transform: uppercase;
}
#logo{
	text-transform: uppercase;
	color:#24518f;
}
#logo:hover{
	color: #24518f !important;
	text-decoration: none !important;

}
#hero{
	background: url('../img/dos.jpg') center center no-repeat;
	background-size: cover;
    /*max-height: 600px;
    max-width: 100%;
    height: 500px;*/
	width: 100%;
	height:700%;
	opacity: 1;
	position: absolute;
}
#productos{
  position: absolute;
  top:1400%;
 width: 100%;
 height: 600%;
 border-top: 1px solid #E5E4E4;
}
#servicio{
   position: absolute;
   top:2000%;
   width: 100%;
   height: 600%;
 border-top: 1px solid #E5E4E4;
}
#marcas{
 position: absolute;
 top:800%;
 width: 100%;
 height: 600%;
}
.boton{
color: #fff;
border: 1px solid #f3f5f5;
background-color: rgba(255, 255, 255, .25);
border-radius: 4px;
position: relative;
padding: 10px 10px;
}

.descripcion{
	font-size: 17px;
}

footer {
	background: url('../img/ciudad.jpg') center center no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	top: 2600%;
	position: absolute;
	width: 100%;
	height: 600%;
	
}

#catalogo{
border: 1px solid white;
border-radius: 3px;
color: white;
display: inline-block;
font-size: 0.8em;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;
padding: 0.43em 2em 0.73em;
font-size: 1.1em;
margin-left: 7%;
}
dl>dt>h3{
	color: #FFF;
	font-size: 16px;
}
dl>dd>a{
	color: #fff;
}
#footer{
	background-color: rgba(77, 108, 92, 0.54);
	width: 100%;
	height: 100%;
}
#fondo{
	background-color: rgba(77, 108, 92, 0.54);
    width: 100%;
    height: 100%;
}
.tittle{
text-align: left;
color: #777;
font-size: 2em;
font-weight: 400;
letter-spacing: 0.08em;
line-height: 1.2em;
margin: 0 0 0.5em;
text-transform: uppercase;
}
#p_marca{
	margin: 0 0 10px;
	line-height: 1.5em;
}

#prueba{
	background-color: rgba(77, 108, 92, 0.54);
    width: 100%;
    height: 560px;
}
dt,dd{
line-height: 2 !important;
text-align: left !important;
}
a:hover{
text-decoration: none !important;
color: #FFF !important;
}
#titulo{
	text-align: center;
color: #FFF;
font-size: 2.3em;
font-weight: 500;
letter-spacing: 0.1em;
line-height: 1.3em;
margin: 0 0 0.5em;
}
.class_menu{
	border-top: 1px solid #FFF !important;
}
.class_menu:hover{
	text-decoration: none !important;
	background-color: transparent !important;
	color: #24518f !important;
	border-top: 1px solid #24518f !important;
}

#mineria{
   background-color: rgba(215, 122, 45, 0.46);

}

#construccion{
	background-color: rgba(45, 215, 196, 0.46);
}

#energia{
	background-color: rgba(215, 206, 45, 0.46);
}

#petroleo{
background-color: rgba(45, 144, 215, 0.46);
}
@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
h4 { 
    position: relative; 
    float: left;
    font-size:150%;
}

h4 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: rgba(112, 89, 69, 0.99); /* same as background */
    border-left: .1em solid white;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-animation: typing 5s steps(28, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
.logos:hover{
	width:100px;
	height: 100px;
}
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}