@font-face {
    font-family: 'Avenir';
    src: url('../font/AvenirNextLTPro-Regular.otf');
}

body{
	font-family: 'Avenir';
}

.header_link >li>a{
	color: #AC9456;
    text-decoration: none;
    text-transform: uppercase;
}
#logo{
	text-transform: uppercase;
	color:#2c2219; 
}
#hero{
	background: url('../img/fondo5.png') center center no-repeat;
	/*background-size: cover;
	max-height: 600px;
	max-width: 100%;
	height: 500px;*/
	background-size: 100% 100%;
	width: 100%;
	height:500px;
	opacity: 0.8;
	position: absolute;
}